<div class="card bg-base-100">
  <div class="card-body">
    <h2 class="card-title"><%= description %></h2>
    <div class="card-actions justify-center">
      <textarea class="textarea textarea-primary w-full" disabled>NA</textarea>
    </div>
  </div>
</div>
