<!-- Hero -->
<div class="hero min-h-screen bg-base-200">
  <div class="hero-content flex-col lg:flex-row-reverse">
    <img
      src="/images/under_development.webp"
      class="max-w-xs lg:max-w-sm md:max-w-sm rounded-lg shadow-2xl m-5"
    />
    <div>
      <h1 class="text-3xl font-bold">🚧 404 - Page Not Found 🚧</h1>
      <p class="py-6">
        Sorry for the inconvenience, but the page you are visiting doesn't
        exist.
      </p>
      <a href="/" rel="noopener noreferrer" class="btn btn-primary mx-1"
        >Go Back Home</a
      >
    </div>
  </div>
</div>
